body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.principal {
  position: relative;
  width: 60%;
  height: 450px;
  max-width: 420px;
  text-align: center;
  border: 3px solid black;
  margin: 10px auto;
  padding-top: 20px;
  background-color: white;
  color: dodgerblue;

}



.detalle {
  background-color: white;
  color: dodgerblue;
  max-width: 420px;
  text-align: center;
  margin: 10px auto;
  border: 3px solid black;
  padding: 20px;
}

.image-detalle {
  width: 60%;
}

.aside {
  background-color: darkblue;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
  border: 3px solid white;
  padding: 20px;

}